[submodule "Osiris/vendor/glfw"]
	path = Osiris/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Osiris/vendor/soil"]
	path = Osiris/vendor/soil
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library
[submodule "Osiris/vendor/glm"]
	path = Osiris/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Osiris/vendor/imgui"]
	path = Osiris/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Osiris/vendor/json"]
	path = Osiris/vendor/json
	url = https://github.com/nlohmann/json
[submodule "Osiris/vendor/lua"]
	path = Osiris/vendor/lua
	url = https://github.com/lua/lua
[submodule "Osiris/vendor/luabridge"]
	path = Osiris/vendor/luabridge
	url = https://github.com/vinniefalco/LuaBridge
