cmakeBuild
.vs
*.filters
bin/*
obj/*
Osiris/vendor/*/bin/*
Osiris/vendor/*/bin-int/*
*.sln
*.vcxproj
*.vcxproj.user
OsirisAPI/OsirisAPI.csproj
/Apps/DevApp/imgui.ini
Apps/Editor/config.ini
Apps/Editor/Editor.args.json
Apps/Editor/imgui.ini
Apps/Editor/error_output.txt
externalbuild/bin/
externalbuild/bin-int/
buildsystem/bin/
buildsystem/bin-int/
lib/
sub_modules/
codegen/models/obj/
toolchain/
dependencies/
