[submodule "Osiris/vendor/spdlog"]
	path = Osiris/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Osiris/vendor/GLFW"]
	path = Osiris/vendor/GLFW
	url = https://github.com/PaulRichardHickman/glfw
[submodule "Osiris/vendor/imgui"]
	path = Osiris/vendor/imgui
	url = https://github.com/PaulRichardHickman/imgui
[submodule "Osiris/vendor/soil"]
	path = Osiris/vendor/soil
	url = https://github.com/PaulRichardHickman/Simple-OpenGL-Image-Library.git
[submodule "Osiris/vendor/json"]
	path = Osiris/vendor/json
	url = https://github.com/PaulRichardHickman/json
[submodule "Osiris/vendor/glm"]
	path = Osiris/vendor/glm
	url = https://github.com/PaulRichardHickman/glm.git
[submodule "Osiris/vendor/lua"]
	path = Osiris/vendor/lua
	url = https://github.com/lua/lua
[submodule "Osiris/vendor/LuaBridge"]
	path = Osiris/vendor/LuaBridge
	url = https://github.com/PaulRichardHickman/LuaBridge
