cmakeBuild
.vs
*.filters
bin/*
obj/*
Osiris/vendor/*/bin/*
Osiris/vendor/*/bin-int/*
*.sln
*.vcxproj
*.vcxproj.user
/Apps/DevApp/imgui.ini
Apps/Editor/config.ini
Apps/Editor/Editor.args.json
Apps/Editor/imgui.ini
externalbuild/bin/
externalbuild/bin-int/
lib/
