#pragma once

#include "wyrdpch.h"
#include "core/export.h"
#include "core/UID.h"
#include "core/Structures.h"
#include "core/TypeDefs.h"
#include "core/ResourcesUIDs.h"
#include "core/maths/Rect.h"
#include "core/ecs/ECS.h"
#include "core/ecs/ComponentPool.h"

#include <glm/glm.hpp>

<!CONTENT_DEFINES>

namespace Wyrd
{
	<!CONTENT>
};